#!/bin/bash

/opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -s -c ssm:${cw_config_param}

while ! lsblk "${dev_name}" ; do
  echo "${dev_name} is not attached yet. Waiting 60 seconds"
  sleep 60
done

FS_TYPE=$(lsblk -o FSTYPE -n "${dev_name}")
DEV_NAME=$(lsblk -o NAME -n "${dev_name}")
DEV_PATH=$(printf "/dev/%s" "$DEV_NAME")

if [ ! "xfs" = "$FS_TYPE" ]; then
  mkfs -t xfs "$DEV_PATH"
fi

if ! mount | grep "/opt/factorio/saves"; then
  mkdir -p /opt/factorio/saves
  UUID=$(blkid "$DEV_PATH" | grep -oP 'UUID="\K([0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})')
  FSTAB_LINE=$(printf "UUID=%s  /opt/factorio/saves  xfs  defaults,nofail  0  2" "$UUID")
  echo "$FSTAB_LINE" >> /etc/fstab
  mount -a
  chown -R factorio:factorio /opt/factorio/saves
  chmod -R g+rwx /opt/factorio/saves
fi

mkdir -p /etc/factorio
chown -R factorio:factorio /etc/factorio
chmod -R g+rwx /etc/factorio
echo "${config_bucket}" >> /etc/factorio/bucket.conf
